@import './base.css';

body {
background-color: black;
}

h1,h2,h3 {
	margin-bottom:0.5rem;
}
h1, h1 a {
	color: #f0af0d;
}
h2, p, td {
	color: white;
}
h3 {
	color: #f0af0d;
}

a {
	color: #f0af0d;
  text-decoration: none;
}
a:hover {
	color: white;
}


#app {
  margin: 0;
  font-weight: normal;
}

.good {
  background: green;
}
.bad {
  background: red;
}
